/* src/app/mypage/profile/ProfilePage.module.css */

.container {
    padding: 20px;
    border-radius: 10px;
}

.header {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 20px;
    width: 100%; /* 폭을 전체로 사용 */
}


.label {
    display: block;
    font-weight: bold;
    font-size:1.2em;
    color: #2c3e50;
    margin-bottom: 8px;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    height: 150px;
    resize: vertical; /*세로크기 조정 가능*/
    margin-top: 10px;

}

.saveButton {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveButton:hover {
    background-color: #218838;
}


/* ProfilePage.module.css */
.editButton {
    position: absolute;
    bottom: 0px;
    right: 20px;
}


/* ProfilePage.module.css */
.value {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    width: 100%; /* 폭을 전체로 사용 */
    word-wrap: break-word; /* 긴 텍스트가 넘치지 않도록 설정 */
}



/* ProfilePage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.form {
    flex: 1;
}

.profileSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px; /* 요소 간의 간격 추가 */
}

.profileImage {
    position: absolute; /* 절대 위치 설정 */
    top: 80px; /* 원하는 위치에 맞게 위쪽 여백 설정 */
    right: 20px; /* 원하는 위치에 맞게 오른쪽 여백 설정 */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

