/* src/app/mypage/profile/ProfilePage.module.css */

.container {
    padding: 20px;
    border-radius: 10px;
}

.header {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 8px;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    height: 100px;
    resize: vertical; /*세로크기 조정 가능*/
    margin-top: 10px;

}

.saveButton {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveButton:hover {
    background-color: #218838;
}
