/* src/styles/globals.css */

body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #2c3e50;
  overflow: hidden; /* 전체 스크롤바 없애기 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

/* Chrome, Edge, Safari에서 스크롤바 숨기기 */
*::-webkit-scrollbar {
  display: none;
}
