/* src/app/HomePage.module.css */

.container {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fafb;
    color: #333;
    margin-bottom: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    height: 50px;
}

.nav button {
    background: none;
    border: none;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
}

.nav button:hover {
    color: #007bff;
}

.nav button svg {
    margin-right: 8px;
}

.welcomeSection {
    text-align: center;
    margin-bottom: 40px;
}

.welcomeSection h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.welcomeSection .userName {
    color: #007bff;
}

.welcomeSection p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.createTeamButton {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.createTeamButton:hover {
    background-color: #0056b3;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.searchInput {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.searchButton {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 0 8px 8px 0;
    color: #ffffff;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}

.searchButton svg {
    vertical-align: middle;
}

.sectionTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.recommendations,
.myTeams {
    margin-bottom: 60px;
}


.teamCardList {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    gap: 16px; /* 카드 간 간격 조정 */
}

.teamCardList::-webkit-scrollbar {
    height: 8px;
}

.teamCardList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.teamCardList::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


.footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 14px;
}

