/* src/app/resume/[id]/ResumePage.module.css */

.container {
    padding: 20px;
}

.resumeHeader {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 16px;
}

.resumeSection {
    margin-bottom: 16px;
}

.resumeSection h2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 8px;
}

.resumeSection p {
    font-size: 16px;
    color: #7f8c8d;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

.resumeContent {
    flex: 1;
}
