/* src/app/mypage/MyPage.module.css */

.container {
    padding: 20px;
}

.profileHeader {
    display: flex;
    align-items: center;
}

.profileImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url('./image.png');
    background-size: cover; /* 이미지 크기를 요소 크기에 맞춤 */
    margin-right: 16px;
}

.profileInfo {
    flex: 1;
}

.profileInfo h2 {
    font-size: 20px;
    color: #2c3e50;
}

.profileInfo p {
    font-size: 14px;
    color: #7f8c8d;
    margin-top: 8px;
}

.menuList {
    margin-top: 40px;
}

.menuItem {
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #2c3e50;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;

}

.menuItem:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}





.temperature-container {
    background-color: #2e2e2e; /* 배경 색상 */
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin: 20px 0;
  }
  
  .temperatureHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .first-temperature {
    margin: 5px 0;
    color: #aaa;
    font-size: 14px;
  }
  
  .temperatureBarContainer {
    background-color: #555;
    border-radius: 10px;
    height: 12px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  
  .temperatureBar {
    background-color: #ffa500;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  .current-temperature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
  }
  
  .temperature {
    font-size: 18px;
    color: #ffa500;
  }
  
  .emoji {
    font-size: 20px;
  }
  